%heading-one {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 137%;
}

%heading-two {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 137%;
}

%heading-three {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 137%;
}

%heading-four {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 137%;
}

%heading-five {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 137%;
}

%heading-six {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}


h1,
.h1 {
  @extend %heading-one;
}

h2,
.h2 {
  @extend %heading-two;
}

h3,
.h3 {
  @extend %heading-three;
}

h4,
.h4 {
  @extend %heading-four;
}

h5,
.h5 {
  @extend %heading-five;
}

h6,
.h6 {
  @extend %heading-six;
}


.text-lg {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}

.text-sm {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}

.text-base {
  font-size: 1rem;
  line-height: 160%;
}


.text-primary-dark {
  color: $primary-color-100 !important;
}

.text-dark-80 {
  color: $dark-color-80;
}

.text-dark-60 {
  color: $dark-color-60 !important;
}

.text-dark-40 {
  color: $dark-color-40;
}

.text-dark-20 {
  color: $dark-color-20;
}

.text-dark-10 {
  color: $dark-color-10;
}

.text-inherit {
  color: inherit;
}

//
//.bg-primary-70 {
//  background-color: $edu-primary-color-70;
//}
//
//.bg-primary-50 {
//  background-color: $edu-primary-color-50;
//}
//
//.bg-primary-30 {
//  background-color: $edu-primary-color-50;
//}
//
//.bg-primary-05 {
//  background-color: $edu-primary-color-05;
//}
//

.text-primary-70 {
  color: $primary-color-70;
}

.text-primary-50 {
  color: $primary-color-50;
}

.text-primary-30 {
  color: $primary-color-30;
}

.text-primary-05 {
  color: $primary-color-05;
}

