$primary-color-100: #00163B;
$primary-color-90: #1A2D4F;
$primary-color-80: #334562;
$primary-color-70: #4D5C76;
$primary-color-60: #667389;
$primary-color-50: #808B9D;
$primary-color-40: #99A2B1;
$primary-color-30: #B3B9C4;
$primary-color-20: #CCD0D8;
$primary-color-10: #E5E8EB;
$primary-color-05: #F2F3F5;

$secondary-color-100: #283553;
$secondary-color-80: #38AB8E;
$secondary-color-60: #6ABFAA;
$secondary-color-40: #9BD4C5;
$secondary-color-20: #CCE8E1;

$dark-color-100: #1C243A;
$dark-color-95: #0D2D3A;
$dark-color-80: #334E59;
$dark-color-60: #657A82;
$dark-color-40: #98A5AB;
$dark-color-20: #CAD1D4;
$dark-color-10: #dfdfdf;
$dark-color-0: #FDFDFD;
